.debugger-extension-code-div {
  display: inline-block;
  position: relative;
  width: 40%;
}

.debugger-extension-code-line-code {
  background-color: rgb(240, 240, 240);
  border-top: 1px solid rgb(200, 200, 200);
  display: inline-block;
  font-family: monospace;
  font-size: 11px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  transition: hover 0.1s;
  vertical-align: middle;
  width: calc(100% - 25px - 50px);
}

.debugger-extension-code-line-code:hover {
  background-color: rgb(255, 255, 127);
}

.debugger-extension-code-line-container {
  position: relative;
  width: 100%;
}

.debugger-extension-code-line-gutter {
  background-color: rgb(230, 230, 230);
  border-right: 1px solid rgb(200, 200, 200);
  border-top: 1px solid rgb(200, 200, 200);
  color: rgb(50, 100, 255);
  display: inline-block;
  font-family: monospace;
  font-size: 11px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  text-align: right;
  vertical-align: middle;
  width: 25px;
}

.debugger-extension-code-line-num {
  background-color: rgb(230, 230, 230);
  border-right: 1px solid rgb(200, 200, 200);
  border-top: 1px solid rgb(200, 200, 200);
  color: rgb(80, 80, 80);
  display: inline-block;
  font-family: monospace;
  font-size: 11px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  padding-right: 10px;
  text-align: right;
  vertical-align: middle;
  width: 50px;
}

.debugger-extensoin-tensor-view-button {
  cursor: pointer;
  text-decoration: underline;
}

.debugger-extension-top-level {
  max-height: 800px;
  overflow-y: auto;
  vertical-align: top;
}

.debugger-extension-variable-header {
  font-weight: bold;
}

.debugger-extension-variable-row {
  height: 18px;
  line-height: 18px;
  margin-bottom: 0px;
  margin-top: 0px;
  min-height: 18px;
  padding-top: 0px;
  width: 550px;
}

.debugger-extension-variable-name {
  background-color: rgb(254, 247, 224);
  border-top: 1px solid rgb(200, 200, 200);
  border-right: 1px solid rgb(200, 200, 200);
  color: rgb(80, 80, 80);
  display: inline-block;
  font-family: monospace;
  font-size: 10px;
  line-height: 18px;
  overflow: hidden;
  padding-left: 3px;
  vertical-align: middle;
  width: 100px;
}

.debugger-extension-variable-snapshot {
  background-color: rgb(254, 247, 224);
  border-top: 1px solid rgb(200, 200, 200);
  color: rgb(80, 80, 80);
  display: inline-block;
  font-family: monospace;
  font-size: 10px;
  line-height: 18px;
  overflow: hidden;
  padding-left: 3px;
  vertical-align: middle;
  width: 200px;
}

.debugger-extension-variable-type {
  background-color: rgb(254, 247, 224);
  border-top: 1px solid rgb(200, 200, 200);
  border-right: 1px solid rgb(200, 200, 200);
  color: rgb(80, 80, 80);
  display: inline-block;
  font-family: monospace;
  font-size: 10px;
  line-height: 18px;
  overflow: hidden;
  padding-left: 3px;
  vertical-align: middle;
  width: 250px;
}

.debugger-extension-watch-div {
  display: inline-block;
  position: relative;
  width: 60%;
}

.debugger-extension-watch-panel {
  border: 1px solid rgb(200, 200, 200);
  display: inline-block;
  height: 300px;
  /* margin-left: 10px; */
  max-height: 300px;
  padding-top: 0px;
  position: relative;
  vertical-align: top;
  overflow: auto;
  width: 60%;
}
