.tensor-vis-panel {
    font-family: monospace;
    font-size: 14px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.tensor-vis-panel-header {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: rgb(255, 245, 220);
    box-shadow: 2px 2px 2px #b0b0b0;
}

.tensor-vis-shape-control {
    position: relative;
    /* width: 100px; */
    height: 40px;
    max-height: 40px;
    line-height: 40px;
    background-color: rgb(255, 190, 130);
    display: inline-block;
    align-content: center;
    vertical-align: middle;
    margin-left: 4px;
    margin-top: 4px;
    box-shadow: 2px 2px 3px rgb(140, 140, 140);
    color: rgb(0, 0, 255);
    font-size: 8pt;
}

.tenosr-vis-shape-tag {
    display: inline-block;
    color: rgb(60, 60, 60);
    margin-left: 12px;
}

.tensor-vis-dim-control {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgb(160, 160, 160);
    margin: 1px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tensor-vis-view-dim {
    font-weight: bold;
    text-decoration: underline;
}

.tensor-vis-dim-slice-input {
    display: none;
    width: 32px;
    height: 20px;
    line-height: 20px;
    margin: 1px;
}

.tensor-vis-dim-control-first {
    margin-left: 10px;
}

.tensor-vis-dim-control-last {
    margin-right: 10px;
}

.tensor-vis-dtype-control {
    position: relative;
    /* width: 100px; */
    height: 48px;
    max-height: 22px;
    line-height: 22px;
    background-color: rgb(255, 190, 130);
    display: inline-block;
    align-content: center;
    vertical-align: middle;
    margin-left: 0px;
    margin-top: 4px;
    padding-left: 14px;
    padding-right: 10px;
    box-shadow: 2px 2px 3px rgb(140, 140, 140);
    color: rgb(60, 60, 60);
    font-size: 8pt;
}

.health-pill-div {
    width: 200px;  /* TODO(cais): Set intelligently. */
    height: 40px;
    max-height: 40px;
    line-height: 40px;
    display: inline-block;
    align-content: center;
    vertical-align: middle;
    margin-left: 20px;
    margin-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 7pt;
}

.tensor-vis-menu-link {
    cursor: pointer;
    color: rgb(80, 80, 80);
    display: inline-block;
    font-size: 15pt;
    font-weight: bold;
    right: 0px;
    padding-right: 10px;
    padding-top: 12px;
    position: absolute;
    top: 0px;
}

.tensor-vis-value-table {
    font-size: 13px;
}

.tensor-vis-top-ruler {
    height: 24px;
    /* margin-left: 46px; */
    white-space: nowrap;
}

.tensor-vis-left-scroll-group {
    display: inline-block;
    position: absolute;
    top: 92px;
}

/* .tensor-vis-main-region {
    display: inline-block;
} */

.tensor-vis-top-scroll-group {
    white-space: nowrap;
    margin-left: 45px;
}

.tensor-vis-top-scroll-button {
    display: inline-block;
    background-color: rgb(160, 160, 160);
    width: 50px;
    height: 14px;
    line-height: 14px;
    vertical-align: middle;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    cursor: pointer;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.tensor-vis-top-scroll-button:hover {
    opacity: 1;
}

.tensor-vis-left-scroll-button {
    display: inline-block;
    background-color: rgb(160, 160, 160);
    width: 20px;
    height: 32px;
    line-height: 14px;
    vertical-align: middle;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    cursor: pointer;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.tensor-vis-left-scroll-button:hover {
    opacity: 1;
}

.tensor-vis-top-ruler-tick {
    background-color: rgb(255, 190, 130);
    display: inline-block;
    width: 45px;
    height: 24px;
    line-height: 24px;
    vertical-align: middle;
    text-align: center;
    padding-right: 2px;
    border-right: 1px solid rgb(200, 200, 200);
    text-align: center;
    color: rgb(110, 110, 110);
    font-size: 12px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tensor-vis-left-ruler-tick {
    display: inline-block;
    background-color: rgb(255, 190, 130);
    box-shadow: 1px 1px 1px rgb(140, 140, 140);
    width: 45px;
    height: 29px;
    line-height: 29px;
    vertical-align: middle;
    text-align: center;
    border-top: 1px solid rgb(200, 200, 200);
    border-bottom: 1px solid rgb(200, 200, 200);
    text-align: center;
    color: rgb(110, 110, 110);
    font-size: 12px;
    cursor: pointer;
    margin-left: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tensor-vis-value-row {
    white-space: nowrap;
    height: 30px;
    line-height: 30px;
}

.tensor-vis-value-cell {
    display: inline-block;
    width: 45px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    padding-right: 2px;
    border-right: 1px solid rgb(160, 160, 160);
    border-bottom: 1px solid rgb(160, 160, 160);
    text-align: right;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tensor-vis-left-edge {
    border-left: 2px solid blue;
}

.tensor-vis-right-edge {
    border-right: 2px solid blue;
}

.tensor-vis-top-edge {
    border-top: 2px solid blue;
}

.tensor-vis-bottom-edge {
    border-bottom: 2px solid blue;
}

.tensor-vis-value-cell-first-row {
    border-top: 1px solid rgb(160, 160, 160);
}

.tensor-vis-value-cell-first-col {
    border-left: 1px solid rgb(160, 160, 160);
}

.slider {
    display: inline-block;
    /* -webkit-appearance: none; */
    position: relative;
    width: calc(100% - 120px);  /* TODO(cais): Don't hard code. */
    height: 12px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    cursor: pointer;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 0px;
  }

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 12px;
    background: rgb(120, 120, 120);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 18px;
    height: 12px;
    background: rgb(120, 120, 120);
    cursor: pointer;
}

.slider-left {
    display: block;
    -webkit-appearance: slider-vertical;
    background: #d3d3d3;
    outline: none;
    transform: rotate(180deg);
    opacity: 0.7;
    cursor: pointer;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 0px;
  }

.slider-left:hover {
    opacity: 1;
}

.slider-left::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 12px;
    background: rgb(120, 120, 120);
    cursor: pointer;
}

.slider-left::-moz-range-thumb {
    width: 18px;
    height: 12px;
    background: rgb(120, 120, 120);
    cursor: pointer;
}

.tensor-vis-value-tooltip {
    display: none;
    position: absolute;
    border: 1px solid rgb(160, 160, 160);
    font-size: 13px;
    background-color: rgb(240, 240, 240);
    padding: 5px;
    z-index: 100;
    box-shadow: 2px 2px 2px #b0b0b0;
}

.tensor-vis-value-tooltip-indices {
    font-weight: bold;
}

.tensor-vis-value-tooltip-value {
    margin-top: 20px;
}

.tensor-vis-menu {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(128, 128, 128);
    box-shadow: 2px 2px 3px rgb(140, 140, 140);
    font-family: monospace;
    position: absolute;

}

.tensor-vis-menu-item {
    border-top: 1px solid rgb(200, 200, 200);
    border-bottom: 1px solid rgb(200, 200, 200);
    cursor: pointer;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    transition: 0.2s;
}


.tensor-vis-menu-item:hover {
    background-color: rgb(255, 190, 130);
    opacity: 0.85;
}
